{{extend 'layout.html'}}
<h1>Listed Items</h1>
{{items=wish}}
    
    
    <table>
    
    {{for i in items:}}
        <tr>    
        <td><img src="{{=URL('download',args=i.image )}}" width=200px height=auto/></td>
        <td>{{=A(i.name,_href=URL(r=request, f='wish_d', args=i.id))}} </td>
        <td><span>Rs. </span>{{=i.price}}</td>
        <td>{{=A('Delete item',_href=URL(r=request, f='delete_wish', args=i.id))}}</td>
        </tr>
    {{pass}}
    
    </table>
        {{pass}}        
    <br />